{{> head }}

<div class="container">
    {{> header}}

    <main>
        <div class="jumbotron">
            <h3> Productos disponibles: {{allProducts.lengt}}</h3>
        </div>

        <ul>
            {{#each alumnos}}
            <li>{{this.nombre}} {{this.apellido}}</li>
            {{/each }}
        </ul>

        {{#if allProducts }} 
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Photo</th>
                    </tr>
                </thead>

                <tbody>
                    {{#each allProducts}}
                        <tr>
                            <th scope="row">
                                {{this.id}}
                            </th>
                            <td>
                                {{this.title}}
                            </td>
                            <td>
                                {{this.price}}
                            </td>
                            <td>
                                <img src="{{this.thumbnail}}" width="60" height="60">
                            </td>
                        </tr>
                    {{/each }}
                </tbody>
            </table>
        {{else }}
        {{/if}}

    </main>
    {{> footer}}
</div>