<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <div class="container">
        <header>
            <%- include('./partials/header', {current: `form`}) %>
        </header>
        <main>
            <div class="jumbotron">
                <h2>Ingresa tus datos:</h2>
                <form method="POST" action="/personas">
                    <div class="form-group">
                        <label for="nombre">Nombre</label>
                        <input type="text" name="nombre" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="apellido">Apellido</label>
                        <input type="text" name="apellido" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="edad">Edad</label>
                        <input type="number" name="edad" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>
                <% if (personas.length <= 0) { %>
                    <p>No se encontraron datos.</p>
                <% } else { %>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Apellido</th>
                            <th scope="col">Edad</th>
                          </tr>
                        </thead>
                        <tbody>
                            <% personas.forEach((persona,index) =>{ %>
                                <tr>
                                  <th scope="row"> <%= index + 1 %></th>
                                  <td> <%= persona.nombre %> </td>
                                  <td> <%= persona.apellido %> </td>
                                  <td> <%= persona.edad %> </td>
                                </tr>
                            <% }) %>
                        </tbody>
                      </table>
                 <% } %>
            </div>
        </main>
        <footer>
            <%- include('./partials/footer') %>
        </footer>
    </div>
</body>

</html>