<!DOCTYPE html>
<html lang="en">

<head>
    <%- include(`./partials/head`) %>
</head>

<body>
    <div class="container">
        <header>
            <%- include('./partials/header', {current: `faker`}) %>
        </header>
        <main>
            <div class="jumbotron">
                <h2 class="fw-bold mb-2 text-uppercase">Datos con Faker</h2>
                <p>Datos aleatorios utilizando la librería Faker</p>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Photo</th>
                    </tr>
                </thead>
                <tbody id="tbodyProducts">
                    <% dataRandom.forEach((product)=> { %>
                        <tr>
                            <td>
                                <%= product.nombre%>
                            </td>

                            <td>
                                <%= product.precio%>
                            </td>

                            <td>
                                <img src=<%= product.foto %> width="50" height="50">
                                
                            </td>

                        </tr>
                    <% }) %>

                </tbody>
            </table>

        </main>

        <footer>
            <%- include('./partials/footer') %>
        </footer>

    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.3/qs.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="./formProductos.js"></script>
</body>

</html>